In [2]:
import numpy as np
import pandas as pd

Creation

In [3]:
coffee = pd.read_csv("coffee.csv")

In [4]:
coffee

            Date    Open    High     Low   Close  Volume Currency
0     2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1     2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2     2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3     2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4     2000-01-07  117.25  117.75  113.80  114.15    6855      USD
...          ...     ...     ...     ...     ...     ...      ...
5678  2022-05-27  225.10  229.90  224.20  229.45   14248      USD
5679  2022-05-31  228.30  233.80  223.85  231.25   25579      USD
5680  2022-06-01  232.05  240.65  232.05  239.45   30339      USD
5681  2022-06-02  239.45  242.00  236.95  238.25   19679      USD
5682  2022-06-03  236.15  240.00  231.45  232.40   19089      USD

[5683 rows x 7 columns]

In [5]:
coffee.dtypes

Date         object
Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

modify Date field from object to date

In [9]:
coffee['new_date'] = pd.to_datetime(coffee['Date'])

In [10]:
coffee.dtypes

Date                object
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
Currency            object
new_date    datetime64[ns]
dtype: object