In [2]:
import numpy as np
import pandas as pd

Creation

In [3]:
coffee = pd.read_csv("coffee.csv")

In [4]:
coffee

            Date    Open    High     Low   Close  Volume Currency
0     2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1     2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2     2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3     2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4     2000-01-07  117.25  117.75  113.80  114.15    6855      USD
...          ...     ...     ...     ...     ...     ...      ...
5678  2022-05-27  225.10  229.90  224.20  229.45   14248      USD
5679  2022-05-31  228.30  233.80  223.85  231.25   25579      USD
5680  2022-06-01  232.05  240.65  232.05  239.45   30339      USD
5681  2022-06-02  239.45  242.00  236.95  238.25   19679      USD
5682  2022-06-03  236.15  240.00  231.45  232.40   19089      USD

[5683 rows x 7 columns]

In [5]:
coffee.dtypes

Date         object
Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

modify Date field from object to date

In [9]:
coffee['new_date'] = pd.to_datetime(coffee['Date'])

In [10]:
coffee.dtypes

Date                object
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
Currency            object
new_date    datetime64[ns]
dtype: object

In [19]:
coffee

,Date,Open,High,Low,Close,Volume,Currency,new_date,year
0,2000-01-03,122.25,124.00,116.10,116.50,6640,USD,2000-01-03,2000
1,2000-01-04,116.25,120.50,115.75,116.25,5492,USD,2000-01-04,2000
2,2000-01-05,115.00,121.00,115.00,118.60,6165,USD,2000-01-05,2000
3,2000-01-06,119.00,121.40,116.50,116.85,5094,USD,2000-01-06,2000
4,2000-01-07,117.25,117.75,113.80,114.15,6855,USD,2000-01-07,2000
...,...,...,...,...,...,...,...,...,...
5678,2022-05-27,225.10,229.90,224.20,229.45,14248,USD,2022-05-27,2022
5679,2022-05-31,228.30,233.80,223.85,231.25,25579,USD,2022-05-31,2022
5680,2022-06-01,232.05,240.65,232.05,239.45,30339,USD,2022-06-01,2022
5681,2022-06-02,239.45,242.00,236.95,238.25,19679,USD,2022-06-02,2022
5682,2022-06-03,236.15,240.00,231.45,232.40,19089,USD,2022-06-03,2022

In [20]:
coffee['year'] = coffee['new_date'].dt.year

In [37]:
coffee['Fecha']=coffee['Close'] - coffee['Open']

In [40]:
coffee1 = coffee.sort_values(by=['Volume','Fecha'], ascending=False)

In [41]:
coffee1.nlargest(20, "Fecha")

,Date,Open,High,Low,Close,Volume,Currency,new_date,year,Fecha
3584,2014-02-19,152.90,172.90,150.85,171.75,12433,USD,2014-02-19,2014,18.85
5666,2022-05-11,204.05,220.45,204.05,219.90,29972,USD,2022-05-11,2022,15.85
3594,2014-03-05,185.00,200.90,181.50,200.65,17,USD,2014-03-05,2014,15.65
3627,2014-04-22,197.10,213.20,197.00,211.80,500,USD,2014-04-22,2014,14.70
3625,2014-04-17,187.20,201.55,186.90,201.20,7975,USD,2014-04-17,2014,14.00
5463,2021-07-22,180.00,195.50,180.00,193.65,44986,USD,2021-07-22,2021,13.65
2843,2011-04-05,255.10,269.95,254.05,268.25,19833,USD,2011-04-05,2011,13.15
3583,2014-02-18,140.05,154.35,138.75,152.65,15927,USD,2014-02-18,2014,12.60
3746,2014-10-06,208.70,225.50,208.70,220.80,22699,USD,2014-10-06,2014,12.10
2938,2011-08-17,251.15,263.60,250.65,263.20,5969,USD,2011-08-17,2011,12.05
3592,2014-03-03,180.55,191.00,177.10,192.60,62,USD,2014-03-03,2014,12.05
3699,2014-07-31,183.40,196.40,183.35,195.05,23403,USD,2014-07-31,2014,11.65
3645,2014-05-15,182.50,194.25,182.50,194.15,5,USD,2014-05-15,2014,11.65
1210,2004-11-15,80.25,95.00,80.25,91.65,14840,USD,2004-11-15,2004,11.40
2985,2011-10-21,233.65,246.70,233.20,244.85,19339,USD,2011-10-21,2011,11.20
1786,2007-03-08,100.00,111.10,111.10,111.10,5,USD,2007-03-08,2007,11.10
3573,2014-02-03,125.00,136.40,125.00,135.95,40602,USD,2014-02-03,2014,10.95
5621,2022-03-08,223.20,233.40,223.20,234.05,8,USD,2022-03-08,2022,10.85
3718,2014-08-26,183.00,193.00,183.00,193.10,101,USD,2014-08-26,2014,10.10
5603,2022-02-09,248.30,259.50,247.90,258.35,45254,USD,2022-02-09,2022,10.05